#sidebar-cart {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#sidebar-cart::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#sidebar-cart {
    position: fixed;
    visibility: visible;
    transition: 0.15s;
    margin-left: calc(100% - 260px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    width: 260px;
    top: 0px;
    bottom: 0px;
    margin-top: 91px;
    padding-top: 20px;
    z-index: 2;
    overflow: scroll;
}

#sidebar-cart.hidden {
    visibility: hidden;
    margin-left: 100%;
    transition: 0.15s;
}

.cart-items {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.cart-item {
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 80px 100px;
    grid-template-rows: 25px 30px 25px;
    margin-top: 20px;
    border-top: 1px solid black;
    padding-top: 10px;
}

.cart-item .container-count {
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 25px 40px 25px;
    align-self: center;
    margin-left: 10px;
    max-width: 80px;
    align-items: center;
}

.cart-item .icon-add {
    width: 25px;
    height: 25px;
    margin-left: 7px;
    cursor: pointer;

}

.cart-item .icon-remove {
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.cart-item .image {
    grid-row: 2/4;
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    align-self: center;
}


.cart-item .input-count {
    min-width: 40px;
    max-width: 40px;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-self: center;
}

.cart-item .title {
    grid-row: 1/2;
    grid-column: 1/4;
    font-style: italic;
    text-align: left;
}

.cart-item .price {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    text-align: left;
    margin-left: 10px;
}

.cart-item .item-total {
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: center;
    text-align: right;
}

.cart-item .item-total-title {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: left;
    margin-left: 10px;
    align-self: center;
}

.cart-item .delete-item {
    position: absolute;
    margin-left: 235px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item .icon-x {
    width: 20px;
    height: 20px;
    filter: invert(19%) sepia(93%) saturate(7485%) hue-rotate(358deg) brightness(99%) contrast(114%);

}

.cart-item .delete-item:hover {
    filter: drop-shadow(0 0 0.5px black) invert(19%) sepia(93%) saturate(7485%) hue-rotate(358deg) brightness(99%) contrast(114%);

}

.cart-total-container {
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns: 130px 100px;
    margin-top: 10px;
    height: 40px;

}

.cart-total-title {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.cart-total {
    grid-column: 2/3;
    text-align: right;
    margin-top: 20px;
}

#cart-top-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 80px;
}