@import-normalize;
/* bring in normalize.css styles */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
}

#main-wrapper {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 90px 1fr 25px;
}

#content {
  grid-row: 2/3;
  background-color: #ffffff;
}


#container-cards {
  width: min(1200px, 100%);
  margin: 100px auto 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 290px);
  gap: 15px;
}

#container-cards.blurred {
  filter: blur(2px);
  pointer-events: none;
}

#main-wrapper a, a.visited, a:hover, a:active {
  color: black;
}

@media only screen and (max-width: 680px) {
  #container-cards {
    grid-template-columns: repeat(auto-fill, 170px);
    grid-template-rows: repeat(auto-fill, 270px);
    gap: 5px;
    margin: 50px auto 10px;
  }
}