/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;;
}

input[type=checkbox] {
  cursor: pointer;
}

#main-wrapper {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 90px 1fr 25px;
}

#header {
  grid-row: 1/2;
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #503025;
  display: grid;
  grid-template-columns: 1fr 120px 1fr;
  align-items: center;
  color: white;
  z-index: 3;
  box-shadow: 0 0 8px black;
}

#header .left {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  min-height: 50px;
  margin-left: 30px;
  gap: 15px;
}

#header .left button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#header .left button:hover {
  filter: drop-shadow(0 0 0.5px white);
}

#header .center {
  grid-column: 2/3;
  display: flex;
  align-self: center;
  justify-content: center;
}

#header .right {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 30px;
}

#header .center .burger-logo {
  
  cursor: pointer;
  height: 50px;
}

#header .center .logo-text {
  font-size: 15px;
  margin-right: 19px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}

#header .center:hover .logo-text {
  filter: drop-shadow(0 0 0.5px white);
}

#content {
  grid-row: 2/3;
  background-color: #ffffff;
}

#footer {
 grid-row: 3/4;
 background-color: #503025;
}

#container-cards {
  width: min(1200px,100%);
  margin: 100px auto 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 290px);
  gap: 15px;
}

#container-cards.blurred {
  filter: blur(2px);
  pointer-events: none;
}

.item-card {
  height: 270px;
  width: 230px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.795);
}

.item-card .image {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.item-card .title {
  width: 230px;
  font-size: 17px;
  margin-top: 10px;
  font-weight: bold;
}
.item-card .price {
  font-size: 14px;
}

.item-card .button-edit-order {
  margin-top: 10px;
  background-color: rgb(255, 200, 99);
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: bold;
}


#sidebar-cart {
  position: fixed;
  visibility: visible;
  transition: 0.15s;
  margin-left: calc(100% - 260px);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px black;
  width: 260px;
  top: 0px;
  bottom: 0px;
  margin-top: 91px;
  padding-top: 20px;
  z-index: 2;
  overflow: scroll;
}
#sidebar-cart.hidden {
  visibility: hidden;
  margin-left: 100%;
  transition: 0.15s;
}

.cart-items {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-item {
  display: grid;
  justify-content: center;
  grid-template-columns: 50px 80px 100px;
  grid-template-rows: 25px 30px 25px;
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 10px;
}

.cart-item .container-count {
  grid-row: 2/3;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 25px 40px 25px;
  align-self: center;
  margin-left: 10px;
  max-width: 80px;
  align-items: center;
}

.cart-item .icon-add {
  width: 25px;
  height: 25px;
  margin-left: 7px;
  cursor: pointer;
  
}

.cart-item .icon-remove {
  width: 25px;
  height: 25px;
  cursor: pointer;
  
}

.cart-item .image {
  grid-row: 2/4;
  grid-column: 1/2;
  width: 50px;
  height: 50px;
  align-self: center;
}


.cart-item .input-count {
  min-width: 40px;
  max-width: 40px;
  font-size: 16px;
  display: flex;
  text-align: center;
  align-self: center;
}

.cart-item .title {
  grid-row: 1/2;
  grid-column: 1/4;
  font-style: italic;
  text-align: left;
}

.cart-item .price {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  text-align: left;
  margin-left: 10px;
}

.cart-item .item-total {
  grid-row: 3/4;
  grid-column: 3/4;
  align-self: center;
  text-align: right;
}

.cart-item .item-total-title {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: left;
  margin-left: 10px;
  align-self: center;
}

.cart-item .delete-item {
  position: absolute;
  margin-left: 235px;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item .icon-x {
  width: 20px;
  height: 20px;
  filter: invert(19%) sepia(93%) saturate(7485%) hue-rotate(358deg) brightness(99%) contrast(114%);

}

.cart-item .delete-item:hover {
  filter: drop-shadow(0 0 0.5px black) invert(19%) sepia(93%) saturate(7485%) hue-rotate(358deg) brightness(99%) contrast(114%);

}

.cart-total-container {
  display: grid;
  justify-content: center;
  align-self: center;
  grid-template-columns: 130px 100px;
  margin-top: 10px;
  height: 40px;
  
}

.cart-total-title {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

.cart-total {
  grid-column: 2/3;
  text-align: right;
  margin-top: 20px;
}

#cart-top-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 80px;
}

#header .icon-cart {
  width: 40px;
  height: 40px;
  padding: 2px;
  filter: invert(100%) sepia(98%) saturate(2%) hue-rotate(250deg) brightness(105%) contrast(101%);
}

#header .icon-cart:hover {
  filter: drop-shadow(0 0 0.5px black) invert(100%) sepia(98%) saturate(2%) hue-rotate(250deg) brightness(105%) contrast(101%);
  border-radius: 10px;
  cursor: pointer;
}

#header .cart-count {
  font-weight: bold;
  font-size: 18px;
}

#container-home {
  display: grid;
  grid-template-rows: 670px 670px 1fr;
  width: 100vw;
  height: 100%;
}

#container-home .presentation {
  position: relative;
  display: flex;
  width: 100%;
}

#container-home .presentation .slide-background {
  background-image: linear-gradient(0deg,
  rgba(0, 0, 0, 0.562),
  rgba(0, 0, 0, 0.562),
  rgba(0, 0, 0, 0.562),
  rgba(0, 0, 0, 0.562),
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0));
  height: 300px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

#container-home .presentation .slide-background .button-store {
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  background-color: rgb(212, 42, 0);
  color: white;
  border-radius: 50px;
  margin-bottom: 20px;
  border-style: none;
  
}

#container-home .presentation .slide-background .button-store:hover {
  text-shadow: 1px 0px 5px rgba(255, 255, 255, 0.521);
}

#container-home .presentation .text {
  width: 300px;
  color: white;
  text-shadow: 1px 1px 1px black;
  align-self: center;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}



#container-home .presentation .image {
  position: absolute;
  top: -180px;
  width: 100%;
  height: calc(100% + 180px);
  background-size: cover;
  background-position: top center;
}

#container-home .info-cards {
  background-color: rgb(255, 237, 203);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px black;
  z-index: 1;
  width: 100%;
  overflow: auto;
} 

#container-home .info-cards .card {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}

#container-home .info-cards .card .image {
 width: 150px;
 height: 150px;
 margin-top: 20px;
 align-self: center;
}

#container-home .info-cards .card .text {
  margin-top: 20px;
  width: 200px;
  align-self: center;
  font-size: 18px;
  font-style: italic;
}

#container-home .info-cards .arrows {
  display: none;
}

#container-home .opening-hours {
  background-color: #faf3eb;
  grid-row: 3/4;
}

#container-home .opening-hours .title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

#container-home .opening-hours .hours-table {
  display: grid;
  grid-template-rows: repeat(4, 30px);
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

#container-home .opening-hours .hours-table .row {
  width: 200px;
  display: grid;
  grid-template-columns: 100px 100px;
  font-size: 18px;
}

#container-home .opening-hours .hours-table .days {
  grid-column: 1/2;
  text-align: left;
}
#container-home .opening-hours .hours-table .hours {
  grid-column: 2/3;
}

#container-home .opening-hours .address {
  margin-top: 50px;
}

#container-home .opening-hours .phone-number {
  margin-top: 20px;
  margin-bottom: 50px;
}

#store-view {
  display: flex;  
  background-color: #faf3eb;

}


#sidebar-search {
  box-sizing: border-box;
  display: grid;
  transition: 0.15s;
  width: 200px;
  min-width: 200px;
  margin-left: 0;
  min-height: calc(100% - 20px);
  z-index: 2;
  grid-template-rows: 30px 30px 100px;
  padding: 10px;
  opacity: 1;
  transition: 0.15s;
  visibility: visible;
  background-color: white;
  box-shadow: 0 0 10px black;
}

#sidebar-search.hidden {
  visibility: hidden;
  transition: 0.15s;
  margin-left: -200px;
  height: 0;
  width: 0;
  opacity: 0;
}

#sidebar-search .main-title {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#store-view {
  height: 100%;
}

#store-view .expand-search {
  display: flex;
  position: fixed;
  align-items: center;
  font-weight: bold;
  visibility: visible;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  opacity: 1;
  transition: 0.20s;
  transition-delay: 0.15s;
  filter: invert(47%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(91%) contrast(85%);}

#store-view .expand-search.hidden {
  visibility: hidden;
  transition: 0s;
  height: 0;
  width: 0;
  opacity: 0;
}

#store-view .hide-search {
  visibility: visible;
  transition: 0.20s;
  transition-delay: 0.15s;
  height: fit-content;
  width: fit-content;
  opacity: 1;
  cursor: pointer;
}

#store-view .hide-search.hidden {
  visibility: hidden;
  transition: 0s;
  height: 0;
  width: 0;
  opacity: 0;
}

#store-view .hide-search img {
  filter: invert(47%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(91%) contrast(85%);
}

#store-view .hide-search img:hover {
  filter: drop-shadow(0 0 0.5px black) invert(47%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(91%) contrast(85%);
}

#store-view .expand-search:hover {
  filter: drop-shadow(0 0 0.1px black) invert(47%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(91%) contrast(85%);

}

#sidebar-search .title {
  text-align: left;
  font-weight: bold;
  margin: 10px 0;
}

#sidebar-search .filter-category {
  margin-top: 20px;
}

#sidebar-search .filter {
  display: flex;
  margin-top: 10px;
}

#sidebar-search .filter .text { 
  cursor: pointer;
}

#sidebar-search .search-bar {
  margin-top: 30px;
  display: flex;
  align-self: center;
}
#sidebar-search .search-bar .input {
  width: 140px;
}

#sidebar-search .search-bar .icon_search {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  filter: invert(47%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(91%) contrast(85%);
}

#sidebar-search .search-bar .icon_search:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5px black) invert(47%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(91%) contrast(85%);
}

#edit-order {
  position: fixed;
  width: 280px;
  height: 500px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: white;
  
}

#edit-order .item-image {
  height: 170px;
  width: 230px;
  align-self: center;
  margin-top: 10px;
}

#edit-order .options {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 17px;
}

#edit-order .options .option {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

#edit-order .options input[type=checkbox] {
  width: 20px;
  height: 20px;
}

#edit-order .item-name {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

#edit-order .container-count {
  margin-top: auto;
  display: grid;
  grid-template-columns: 30px 60px 30px;
  height: 30px;
  align-self: center;
}

#edit-order .input-count {
  width: 55px;
  height: 30px;
  font-size: 16px;
  display: flex;
  text-align: center;
  align-self: center;
}

#edit-order .icon-add {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  
  cursor: pointer;
  align-self: center;
}

#edit-order .icon-remove {
  width: 30px;
  height: 30px;
  margin-left: -5px;
  cursor: pointer;
  
  align-self: center;
}

#edit-order .total-price {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
}

#edit-order .add-to-cart {
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
  font-size: 15px;
  background-color: rgb(255, 200, 99);
  align-self: center;
}

#edit-order .close {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 252px;
  margin-top: 0px;
  
  cursor: pointer;
  filter: invert(19%) sepia(93%) saturate(7485%) hue-rotate(358deg) brightness(99%) contrast(114%);
}

#edit-order .close:hover {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.719)) invert(19%) sepia(93%) saturate(7485%) hue-rotate(358deg) brightness(99%) contrast(114%);
}

@media only screen and (max-width: 680px) {
  .item-card {
    height: 250px;
    width: 150px;
  }
  .item-card .image {
    height: 150px;
    width: 150px;
  }
  .item-card .title {
    width: 150px;
    font-size: 15px;
  }

  #container-cards {
    grid-template-columns: repeat(auto-fill, 170px);
    grid-template-rows: repeat(auto-fill, 270px);
    gap: 5px;
    margin: 50px auto 10px;
  }

  #container-home .info-cards {
    justify-content: start;
    scroll-snap-type: x mandatory;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  #container-home .info-cards::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  #container-home .info-cards section {
    scroll-snap-align: center;
    min-width: 100vw;
    display: flex;
    justify-content: center;
  }

  #container-home .info-cards .arrows {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #container-home .info-cards .arrows .right {
    width: 50px;
    height: 50px;
    transform: scale(1.5);
  }
  #container-home .info-cards .arrows .left {
    width: 50px;
    height: 50px;
    transform: scale(1.5);
  }
}
