#main-wrapper {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 25px;
}

#header {
  grid-row: 1/2;
  position: fixed;
  width: 100%;
  max-height: 50px;
  background-color: #ffffff;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .left {
  display: flex;
  align-items: center;
  min-height: 50px;
  gap: 50px;
  margin-left: 30px;
}

#header .right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}


#content {
  grid-row: 2/3;
  background-color: #ffffff;
  border: 1px solid black;
}

#footer {
 grid-row: 3/4;
 border: 1px solid black;
}

#container-cards {
  width: min(1200px,100%);
  margin: 100px auto 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  gap: 15px;
  
}

.item-card {
  height: 230px;
  width: 230px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}

.item-card .image {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  border: 1px solid black;
}
.item-card .title {
  width: 230px;
  font-size: 17px;
}
.item-card .price {
  font-size: 14px;
}
.item-card .add-to-cart {
  width: 100px;
}

#sidebar-cart {
  position: fixed;
  visibility: visible;
  transition: 0.15s;
  margin-left: calc(100% - 260px);
  background-color: rgb(255, 255, 255);
  border-left: 1px solid black;
  width: 260px;
  height: calc(100% - 50px);
  margin-top: 51px;
}
#sidebar-cart.hidden {
  visibility: hidden;
  margin-left: 100%;
  transition: 0.15s;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  display: grid;
  justify-content: center;
  grid-template-columns: 50px 80px 100px;
  grid-template-rows: 25px 30px 25px;
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 10px;
}

.cart-item .image {
  grid-row: 2/4;
  grid-column: 1/2;
  width: 50px;
  height: 50px;
  align-self: center;
}


.cart-item .edit-count {
  grid-row: 2/3;
  grid-column: 3/4;
  min-width: 50px;
  max-width: 50px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 45px;
  display: flex;
  text-align: center;
  align-self: center;
  border: 1px solid black;
}

.cart-item .title {
  grid-row: 1/2;
  grid-column: 1/4;
  font-style: italic;
  text-align: left;
}

.cart-item .price {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  text-align: left;
  margin-left: 10px;
}

.cart-item .item-total {
  grid-row: 3/4;
  grid-column: 3/4;
  align-self: center;
  text-align: right;
}

.cart-item .item-total-title {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: left;
  margin-left: 10px;
  align-self: center;
}

.cart-item .remove-item {
  position: absolute;
  margin-left: 235px;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.cart-item .icon-x {
  width: 20px;
  height: 20px;
}

.cart-item .remove-item:hover {
  outline: 1px solid #000;
}

.cart-item .remove-item:active {
  outline: 1px solid rgb(107, 107, 107);
}

.cart-total-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 130px 100px;
  border-top: 1px solid #000;
  margin-top: 20px;
  padding-top: 10px;
}

.cart-total-title {
  font-size: 17px;
  font-weight: bold;
  align-self: center;
  text-align: left;
}

.cart-total {
  grid-column: 2/3;
  text-align: right;
  align-self: center;
}

#cart-top-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 80px;
}

#header .icon-cart {
  width: 40px;
  height: 40px;
  padding: 2px;
}

#header .icon-cart:hover {
  outline: 1px solid black;
  border-radius: 10px;
}

#header .icon-cart:active {
  outline: 1px solid rgb(107, 107, 107);
}